* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: red; */
}
input,
select {
  font-size: 18px;
  padding: 10px;
}
.content {
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  background-color: aquamarine;
}
